body {font-family: Arial, Helvetica, sans-serif; font-size: 10pt ;background-color: lightgoldenrodyellow;
background-image: url('hearts.JPG')}

h1 {text-align: center; font-family: Monotype Corsiva, Arial Black}
h2 {text-align: left; font-family: Monotype Corsiva, Arial Black, Helvetica, sans-serif; line-height: 1.1}
h3 {text-align: left; font-family: Monotype Corsiva, Arial, Helvetica, sans-serif;
margin-bottom: 0pt; padding-bottom: 0pt; margin-bottom: 0pt; line-height: 1.1}

table {font-family: Arial, Helvetica, sans-serif; font-size: 9pt}

ul {list-style: disc outside; margin-left: 9pt; padding-left: 9pt; padding-top: 0pt; margin-top: 9pt}
li {font-size: 9pt; list-style-type: disc}

a:visited {color: white; text-decoration: none}
a:link {color: white; text-decoration: none}
a:hover {color:red; text-decoration: none}